<!--<fieldset class="fieldset bg-base-200 border-base-300 rounded-box  px-4 pb-2 w-full shadow-sm">-->
<!--    <div class="font-bold my-2">服务</div>-->
<!--    <div class="flex flex-col gap-2">-->
<!--        <a class="link link-hover">联系我们</a>-->
<!--        <a class="link link-hover">使用条款（TOS）</a>-->
<!--        <a class="link link-hover">隐私策略</a>-->
<!--        <a class="link link-hover">Cookie 策略</a>-->
<!--    </div>-->
<!--</fieldset>-->
</div>
</body>