<!DOCTYPE html>
<html lang="en">
<%- include('_head.ejs'); %>
<!--------------------------------------------------------------------------------------------------------------------->
<div class=" w-full bg-neutral text-neutral-content shadow-sm card p-2" v-for="i in [11,1,1,1,1]">
        <p>
            <span style="color: red;">机构大额买入</span>
        A card component has a figure, a body part, and inside body there are title and actions parts
        </p>
        <p class="label-xs text-neutral-content">2025-08-07 by CapOfPro</p>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<%- include('_bottom.ejs'); %>
<script type="text/javascript">
    <%- include('index.js'); %>
</script>
</html>